/*
Custom Css
*/
body{margin-top:20px;
    background:#eee;
    }
    .review-list ul li .left span {
         width: 32px;
         height: 32px;
         display: inline-block;
    }
     .review-list ul li .left {
         flex: none;
         max-width: none;
         margin: 0 10px 0 0;
    }
     .review-list ul li .left span img {
         border-radius: 50%;
    }
     .review-list ul li .right h4 {
         font-size: 16px;
         margin: 0;
         display: flex;
    }
     .review-list ul li .right h4 .gig-rating {
         display: flex;
         align-items: center;
         margin-left: 10px;
         color: #ffbf00;
    }
     .review-list ul li .right h4 .gig-rating svg {
         margin: 0 4px 0 0px;
    }
     .country .country-flag {
         width: 16px;
         height: 16px;
         vertical-align: text-bottom;
         margin: 0 7px 0 0px;
         border: 1px solid #fff;
         border-radius: 50px;
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
     .country .country-name {
         color: #95979d;
         font-size: 13px;
         font-weight: 600;
    }
     .review-list ul li {
         border-bottom: 1px solid #dadbdd;
         padding: 0 0 30px;
         margin: 0 0 30px;
    }
     .review-list ul li .right {
         flex: auto;
    }
     .review-list ul li .review-description {
         margin: 20px 0 0;
    }
     .review-list ul li .review-description p {
         font-size: 14px;
         margin: 0;
    }
     .review-list ul li .publish {
         font-size: 13px;
         color: #95979d;
    }
    
    .review-section h4 {
         font-size: 20px;
         color: #222325;
         font-weight: 700;
    }
     .review-section .stars-counters tr .stars-filter.fit-button {
         padding: 6px;
         border: none;
         color: #4a73e8;
         text-align: left;
    }
     .review-section .fit-progressbar-bar .fit-progressbar-background {
         position: relative;
         height: 8px;
         background: #efeff0;
         -webkit-box-flex: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
         background-color: #ffffff;
        ;
         border-radius: 999px;
    }
     .review-section .stars-counters tr .star-progress-bar .progress-fill {
         background-color: #ffb33e;
    }
     .review-section .fit-progressbar-bar .progress-fill {
         background: #2cdd9b;
         background-color: rgb(29, 191, 115);
         height: 100%;
         position: absolute;
         left: 0;
         z-index: 1;
         border-radius: 999px;
    }
     .review-section .fit-progressbar-bar {
         display: flex;
         align-items: center;
    }
     .review-section .stars-counters td {
         white-space: nowrap;
    }
     .review-section .stars-counters tr .progress-bar-container {
         width: 100%;
         padding: 0 10px 0 6px;
         margin: auto;
    }
     .ranking h6 {
         font-weight: 600;
         padding-bottom: 16px;
    }
     .ranking li {
         display: flex;
         justify-content: space-between;
         color: #95979d;
         padding-bottom: 8px;
    }
     .review-section .stars-counters td.star-num {
         color: #4a73e8;
    }
     .ranking li>span {
         color: #62646a;
         white-space: nowrap;
         margin-left: 12px;
    }
     .review-section {
         border-bottom: 1px solid #dadbdd;
         padding-bottom: 24px;
         margin-bottom: 34px;
         padding-top: 64px;
    }
     .review-section select, .review-section .select2-container {
         width: 188px !important;
         border-radius: 3px;
    }
    ul, ul li {
        list-style: none;
        margin: 0px;
    }
    .helpful-thumbs, .helpful-thumb {
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    #id_review {
        width: 100%;
    }
    
    .form-check-label  {
        color: rgba(79, 81, 96, 0.931);
        text-decoration: none;
      }


      .range {
        display: table;
        position: relative;
        height: 25px;
        margin-top: 20px;
        background-color: rgb(245, 245, 245);
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        width: 90%;
        margin-left: auto; /* 將左邊距設為自動，使其與右邊距一樣 */
        margin-right: auto; /* 將右邊距設為自動，使其與左邊距一樣 */
    }
    
    .range input[type="range"] {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -ms-appearance: none !important;
        -o-appearance: none !important;
        appearance: none !important;
    
        display: table-cell;
        width: 100%;
        background-color: transparent;
        height: 25px;
        cursor: pointer;
    }
    .range input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -ms-appearance: none !important;
        -o-appearance: none !important;
        appearance: none !important;
    
        width: 11px;
        height: 25px;
        color: rgb(255, 255, 255);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0px;
        background-color: rgb(153, 153, 153);
    }
    .wt-80 {
        width: 80%;
      }
    .custom-btn{
        margin-bottom: 20px ;
    }  
    .range input[type="range"]::-moz-slider-thumb {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -ms-appearance: none !important;
        -o-appearance: none !important;
        appearance: none !important;
        
        width: 11px;
        height: 25px;
        color: rgb(255, 255, 255);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0px;
        background-color: rgb(153, 153, 153);
    }
    
    .range output {
        display: table-cell;
        padding: 3px 5px 2px;
        min-width: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(153, 153, 153);
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }
    .range input[type="range"] {
        outline: none;
    }
    
    .range.range-primary input[type="range"]::-webkit-slider-thumb {
        background-color: rgb(66, 139, 202);
    }
    .range.range-primary input[type="range"]::-moz-slider-thumb {
        background-color: rgb(66, 139, 202);
    }
    .range.range-primary output {
        background-color: rgb(66, 139, 202);
    }
    .range.range-primary input[type="range"] {
        outline-color: rgb(66, 139, 202);
    }
    
    .range.range-success input[type="range"]::-webkit-slider-thumb {
        background-color: rgb(92, 184, 92);
    }
    .range.range-success input[type="range"]::-moz-slider-thumb {
        background-color: rgb(92, 184, 92);
    }
    .range.range-success output {
        background-color: rgb(92, 184, 92);
    }
    .range.range-success input[type="range"] {
        outline-color: rgb(92, 184, 92);
    }
    
    .range.range-info input[type="range"]::-webkit-slider-thumb {
        background-color: rgb(91, 192, 222);
    }
    .range.range-info input[type="range"]::-moz-slider-thumb {
        background-color: rgb(91, 192, 222);
    }
    .range.range-info output {
        background-color: rgb(91, 192, 222);
    }
    .range.range-info input[type="range"] {
        outline-color: rgb(91, 192, 222);
    }
    
    .range.range-warning input[type="range"]::-webkit-slider-thumb {
        background-color: rgb(240, 173, 78);
    }
    .range.range-warning input[type="range"]::-moz-slider-thumb {
        background-color: rgb(240, 173, 78);
    }
    .range.range-warning output {
        background-color: rgb(240, 173, 78);
    }
    .range.range-warning input[type="range"] {
        outline-color: rgb(240, 173, 78);
    }
.trash-button {
        border: none;
        background-color: transparent;
        color: rgb(40, 125, 139); /* 修改顏色為你想要的顏色 */
        cursor: pointer;
      }

.refresh-button {
        border: none;
        background-color: transparent;
        color: rgb(40, 125, 139); /* 修改顏色為你想要的顏色 */
        cursor: pointer;
      }      
.trash-button-none {
        pointer-events: none;
        border: none;
        background-color: transparent;
        color: #FFFFFF; /* 修改顏色為你想要的顏色 */
        cursor: pointer;
      }
.refresh-button-none {
    pointer-events: none;
    border: none;
    background-color: transparent;
    color: #FFFFFF; /* 修改顏色為你想要的顏色 */
    cursor: pointer;
  } 

  .nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}