asgiref==3.7.2
black==23.3.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
Django==3.2.18
django-ckeditor==6.3.2
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-paypal==2.0
django-taggit==4.0.0
django-widget-tweaks==1.4.12
idna==3.4
mypy-extensions==1.0.0
mysqlclient==2.2.0
packaging==23.1
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.8.0
pytz==2023.3
requests==2.31.0
shortuuid==1.0.11
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
