{% extends 'new cart/root.html' %}
{% block content %}
{% load static %}
<div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">帳單</h6>
            <div class="d-flex justify-content">                
                <h6 class="mb-4"style=" margin-right: 5px;font-weight: bold; ">用戶:</h6>
                <h6 class="mb-4"style=" font-weight: bold;">{{ request.user.username }}</h6>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NO.</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Account</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for id,p in cart_data.items %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ p.name }}</td>
                            <td>{{p.price}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.total_price}}</td>
                            
                        </tr>
                        {% endfor %}
                        <thead>       
                        <tr class="border-bottom">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td >Total</td>
                                <td >${{cart_total_amount}}</td>    
                        </tr>
                        </thead>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock  %}