{% load static %}
{% for product_id,p in cart_data.items %}
<div class="cart-row">
    <div style="flex:2"><img class="row-image" src="{{ p.product_image }}" ></div>
    <div style="flex:2">{{ p.name }}</div>
    <div style="flex:1">${{p.price|floatformat:2}}</div>
    <div style="flex:1">
        <p class="'quantity" style="display: inline-block;">{{p.quantity}}</p>
        <div class="quantity" style="display: inline-block; margin-left: 10px;" >
            <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/up icon.png' %}" >
            <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/down icon.png' %}">
        </div>
    </div>
    <div style="flex:1"><strong>{{ p.total_price }}</strong>                  
    </div>
    <div>
        <button class="trash-button delete-product" data-product="{{ product_id }}"><i class="bi bi-trash "></i></button>
    </div>
</div>
{% endfor %} 